<footer class="d-flex justify-content-center align-items-center py-3 my-4 border-top">
  <div class="text-center">
    <span class="text-body-secondary">
      © 2026 Andrew Ni
    </span>
  </div>
</footer>
</body>
</html>